<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Springboot Internationalization Demo</title>
</head>
<body>

<h1>{{greetMessage}}</h1>

<br/>
<b>{{languageSupported}}:</b>
<a href="/?locale=en">English</a>&nbsp;|&nbsp;
<a href="/?locale=hi">Hindi</a>&nbsp;|&nbsp;
<a href="/?locale=kn">Kannada</a>&nbsp;|&nbsp;
<a href="/?locale=te">Telugu</a>&nbsp;|&nbsp;
<a href="/?locale=ta">Tamil</a>&nbsp;|&nbsp;
<a href="/?locale=ar">Arabic</a>&nbsp;|&nbsp;
<a href="/?locale=zh">Chinese</a>&nbsp;|&nbsp;
<a href="/?locale=fr">French</a>&nbsp;|&nbsp;
<a href="/?locale=in">Indonesia</a>

</body>
</html>